Script for testing the text search

In [8]:
import pandas as pd
import importlib
import search
importlib.reload(search)

In [9]:
def load_data() -> pd.DataFrame:
    """Load raw job post data"""
    df = pd.read_csv("uniquejobs.csv")
    df.rename(columns={"job-title": "job_title", "job-url": "job_url"}, inplace=True)
    return df
jobs = load_data()
jobs.head()

,company,job_title,level,description,job_url
0,IPRally,ML Engineer,Entry level,Are you up for the toughest AI challenges arou...,https://fi.linkedin.com/jobs/view/ml-engineer-...
1,Luxid,Data Scientist,Entry level,We are looking for a Data Scientist to work in...,https://fi.linkedin.com/jobs/view/data-scienti...
2,Silo AI,AI Engineer - DevOps/MLOps,Entry level,"At Silo AI our team of 200+ AI Engineers, AI S...",https://fi.linkedin.com/jobs/view/ai-engineer-...
3,Jefferson Frank,Data Scientist - Helsinki / Salo,Entry level,"Job Title: Data ScientistLocation: Helsinki, F...",https://fi.linkedin.com/jobs/view/data-scienti...
4,Silo AI,"AI Engineer, Large Language Models",Entry level,At Silo AI engineers and researchers collabora...,https://fi.linkedin.com/jobs/view/ai-engineer-...

In [10]:
jobs["score"] = search.search_score(jobs, "software engineer graduate entry")
jobs.sort_values(by="score", ascending=False)[:10]

,company,job_title,level,description,job_url,score
84,Huld,Embedded Software Engineer,Employment type\r\n \r\n\r\n F...,Are you passionate about software development ...,https://fi.linkedin.com/jobs/view/embedded-sof...,2.409118
106,Canonical,Software Engineer - Identity Management for Ca...,Entry level,SummaryThis is an exciting opportunity for an ...,https://fi.linkedin.com/jobs/view/software-eng...,2.409118
232,Canonical,"System Software Engineer - Rust compiler, tool...",Entry level,We are building a new team to focus on the Rus...,https://fi.linkedin.com/jobs/view/system-softw...,2.390337
94,Canonical,Software Engineer - OpenStack,Entry level,This is an exciting opportunity for a software...,https://fi.linkedin.com/jobs/view/software-eng...,2.369762
8,Canonical,Software Engineer - Python and K8s,Entry level,Our mission is to reinvent the way companies m...,https://fi.linkedin.com/jobs/view/software-eng...,2.347054
81,Canonical,Software Engineer - BootStack DevOps,Entry level,"Help us shape the future of open source IT, de...",https://fi.linkedin.com/jobs/view/software-eng...,2.347054
13,Cobblestone Energy,"GRADUATE SOFTWARE ENGINEER - Dubai, UAE",Entry level,Employment type: Full-time & PermanentStarting...,https://fi.linkedin.com/jobs/view/graduate-sof...,2.345429
235,Canonical,Embedded Linux Containers Software Engineer,Entry level,"Work on mission-critical Golang code, focused ...",https://fi.linkedin.com/jobs/view/embedded-lin...,2.321768
54,Canonical,Software Engineer - Micro/Private/Bare-Metal C...,Entry level,This is an exciting opportunity for a software...,https://fi.linkedin.com/jobs/view/software-eng...,2.293318
6,ICEYE,Software Engineer,Entry level,Who are we?We are a Finnish-based internationa...,https://fi.linkedin.com/jobs/view/software-eng...,2.260895

In [11]:
jobs["score"] = search.search_score(jobs, "data scientist")
jobs.sort_values(by="score", ascending=False)[:10]

,company,job_title,level,description,job_url,score
3,Jefferson Frank,Data Scientist - Helsinki / Salo,Entry level,"Job Title: Data ScientistLocation: Helsinki, F...",https://fi.linkedin.com/jobs/view/data-scienti...,2.321768
1,Luxid,Data Scientist,Entry level,We are looking for a Data Scientist to work in...,https://fi.linkedin.com/jobs/view/data-scienti...,2.293318
127,Nigel Frank International,Azure Data engineer & Azure Data Architect,Entry level,Our clients are looking for top talent in Finl...,https://fi.linkedin.com/jobs/view/azure-data-e...,2.125284
83,Jefferson Frank,AWS Data Engineer - Helsinki,Entry level,Job Title: AWS Data EngineerLocation: Helsinki...,https://fi.linkedin.com/jobs/view/aws-data-eng...,2.122993
110,Canonical,Software Engineer - Data Infrastructure - Kafka,Entry level,Canonical is building a comprehensive automati...,https://fi.linkedin.com/jobs/view/software-eng...,2.036851
88,Canonical,Software Engineer - Data Infrastructure,Entry level,Canonical is building a comprehensive automati...,https://fi.linkedin.com/jobs/view/software-eng...,1.984872
173,Nosto,Head of Data Engineering,Entry level,"Who are we?At Nosto, we’re on a mission to mak...",https://fi.linkedin.com/jobs/view/head-of-data...,1.964297
56,Huuva,Data Engineer,Entry level,About HuuvaHuuva Kitchens turn local communiti...,https://fi.linkedin.com/jobs/view/data-enginee...,1.916303
125,Nigel Frank International,Azure Data Engineer's & Architect's - Finland,Entry level,Hiring: Azure Data Engineer's + Azure Data Arc...,https://fi.linkedin.com/jobs/view/azure-data-e...,1.916303
174,Canonical,Software Engineer - Data Infrastructure - Open...,Entry level,Canonical is building a comprehensive automati...,https://fi.linkedin.com/jobs/view/software-eng...,1.887853

In [12]:
jobs["score"] = search.search_score(jobs, "backend engineer")
jobs.sort_values(by="score", ascending=False)[:10]

,company,job_title,level,description,job_url,score
57,Remote,Backend Engineer - Elixir,Entry level,About RemoteRemote is solving global remote or...,https://fi.linkedin.com/jobs/view/backend-engi...,2.179030
60,Canonical,Software Engineer - App Stores Backend (Remote),Entry level,SummaryThis is an exciting opportunity for an ...,https://fi.linkedin.com/jobs/view/software-eng...,2.125284
59,iHeadHunt,"Web Developer, Backend Developer & Test Autom...",Entry level,"On behalf of our client in Finland, who has ma...",https://fi.linkedin.com/jobs/view/web-develope...,1.839889
24,Jefferson Frank,Data Engineer- Helsinki- up to 5000€/pm + bonus,Entry level,Data Engineer (AWS)- Helsinki- up to 5000€/pm ...,https://fi.linkedin.com/jobs/view/data-enginee...,1.773565
7,Jefferson Frank,Backend Python Developer,Entry level,We have a new need from one of our best client...,https://fi.linkedin.com/jobs/view/backend-pyth...,1.773565
276,Geosyntec Consultants,Tailings Engineer - Finland,Entry level,OverviewGeosyntec is an internationally recogn...,https://fi.linkedin.com/jobs/view/tailings-eng...,1.719819
83,Jefferson Frank,AWS Data Engineer - Helsinki,Entry level,Job Title: AWS Data EngineerLocation: Helsinki...,https://fi.linkedin.com/jobs/view/aws-data-eng...,1.719819
4,Silo AI,"AI Engineer, Large Language Models",Entry level,At Silo AI engineers and researchers collabora...,https://fi.linkedin.com/jobs/view/ai-engineer-...,1.719819
90,Jefferson Frank,Site Reliability Engineer - Helsinki - Hybrid ...,Entry level,Overview Our Client's global mission is to hel...,https://fi.linkedin.com/jobs/view/site-reliabi...,1.719819
172,Varian,Test Automation Engineer C++,Entry level,"Together, we can beat cancer.At Varian, a Siem...",https://fi.linkedin.com/jobs/view/test-automat...,1.652282

In [13]:
jobs["score"] = search.search_score(jobs, "backend engineer entry")
jobs.sort_values(by="score", ascending=False)[:10]

,company,job_title,level,description,job_url,score
57,Remote,Backend Engineer - Elixir,Entry level,About RemoteRemote is solving global remote or...,https://fi.linkedin.com/jobs/view/backend-engi...,2.179030
60,Canonical,Software Engineer - App Stores Backend (Remote),Entry level,SummaryThis is an exciting opportunity for an ...,https://fi.linkedin.com/jobs/view/software-eng...,2.125284
59,iHeadHunt,"Web Developer, Backend Developer & Test Autom...",Entry level,"On behalf of our client in Finland, who has ma...",https://fi.linkedin.com/jobs/view/web-develope...,1.839889
24,Jefferson Frank,Data Engineer- Helsinki- up to 5000€/pm + bonus,Entry level,Data Engineer (AWS)- Helsinki- up to 5000€/pm ...,https://fi.linkedin.com/jobs/view/data-enginee...,1.773565
7,Jefferson Frank,Backend Python Developer,Entry level,We have a new need from one of our best client...,https://fi.linkedin.com/jobs/view/backend-pyth...,1.773565
276,Geosyntec Consultants,Tailings Engineer - Finland,Entry level,OverviewGeosyntec is an internationally recogn...,https://fi.linkedin.com/jobs/view/tailings-eng...,1.719819
83,Jefferson Frank,AWS Data Engineer - Helsinki,Entry level,Job Title: AWS Data EngineerLocation: Helsinki...,https://fi.linkedin.com/jobs/view/aws-data-eng...,1.719819
4,Silo AI,"AI Engineer, Large Language Models",Entry level,At Silo AI engineers and researchers collabora...,https://fi.linkedin.com/jobs/view/ai-engineer-...,1.719819
90,Jefferson Frank,Site Reliability Engineer - Helsinki - Hybrid ...,Entry level,Overview Our Client's global mission is to hel...,https://fi.linkedin.com/jobs/view/site-reliabi...,1.719819
172,Varian,Test Automation Engineer C++,Entry level,"Together, we can beat cancer.At Varian, a Siem...",https://fi.linkedin.com/jobs/view/test-automat...,1.652282